<h1>Everything</h1>

<table id='jobs'>
  <thead>
    <tr><th>Company</th><th>Title</th><th>Start</th><th>End</th></tr>
  </thead>
  <tbody id='editor'></tbody>
  <tbody id='new'>
    <tr>
      <td><input type='text' id='company'></td>
      <td><input type='text' id='title'></td>
      <td><input type='text' id='start_date'></td>
      <td><input type='text' id='end_date'></td>
    </tr>
  </tbody>
</table>

<canvas id='drawing'></canvas>
