<section class='signup'>
  
  <h1>Sign Up</h1>
  
  <p>
    To create a Biodb account, please provide an email address and a password.  We may send you email
    from time to time with information related to your account or Biodb.
  </p>
  
  <%= render 'form' %>

</section>
