<section class='home-page'>
  
  <h1>Biodb</h1>

  <% if current_user %>
    <ul class='highlights' data-user-id='<%= current_user.id %>'></ul>    <!-- TODO: do not use current_user.id -->
  <% else %>
    <%= link_to 'sign in', new_session_path %>
    <%= link_to 'sign up', new_user_path %>
  <% end %>

</section>
