/*
 * This is an SCSS library and should only contain Sass 'extend placeholders'.
 * See http://sass-lang.com/documentation/file.SASS_REFERENCE.html#placeholders
 *
 * This file is named with a leading underscore (_library.scss) so that Sass 
 * does not compile it to a CSS file; however this may be irrelevant due to
 * the use of Sprockets.
 * See http://sass-lang.com/documentation/file.SASS_REFERENCE.html#partials
 *
 * This file should be excluded from the asset pipeline by including the following
 * line in application.css:
 *
 *   *= stub _library
 *
 * See https://github.com/sstephenson/sprockets#the-stub-directive
 */

$hover-color: blue;

// menu links look like normal text but turn blue during hover
%menu-links {
  a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &:hover {
      background-color: inherit;
      color: $hover-color;
    }
  }
}

// cross browser
%display_flex {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;  
}

@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;  
}

@mixin justify-content($justification) {
  justify-content: $justification;
  -webkit-justify-content: $justification;  
}

// menus must be made of ul and li elements
%horizontal-menu {

  @extend %display_flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  
    // TODO: hacks until I figure out why the ul is so much wider than the single child li
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  
  li {
    $height: 3em;
    $lr-margin: 1em;
    
    display: inline-block;
    height: $height;
    line-height: $height;
    margin: 0;
    margin-left: $lr-margin;      // leave some space between menu items
    margin-right: $lr-margin;     // leave some space between menu items
    padding: 0;
  }
}

// buttons in menus
%menu-button {
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 2px;
  line-height: normal;            // otherwise it inherits the line height set in the menu li element
  padding: 0.3em 1em;
  
  &:hover {
    color: $hover-color;
  }
  
  &:disabled {                    // dim the button when it is disabled
    border: 1px solid #ddd;
    color: #ccc;
  }
}

// buttons in forms
%form-button {
  background-color: white;
  border: 1px solid #999;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em 0.15em #eee;
  padding: 0.4em 2em;
  
  &:hover {
    color: $hover-color;
  }
  
  &:disabled {                    // dim the button when it is disabled
    border: 1px solid #ddd;
    color: #ccc;
  }
}
