// debugging
//* {
//  border: 1px solid #fcc;
//}

@import 'library';

body {
  @extend %menu-links;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;        // leave space for fixed menu when scrolled to the top of the page
  width: 780px;           // TODO: use media queries, etc.

  & > header {
    background-color: #bdd;       // TODO: use a constant for this color
    left: 0;
    margin: 0;
    position: fixed;              // page scrolls but the menu does not
    top: 0;
    width: 100%;                  // the background color extends the full width of the page
    
    // fixes a Capybara/Poltergeist/PhantomJS issue ('Poltergeist detected another element...')
    // See https://github.com/teampoltergeist/poltergeist/issues/60
    z-index: -1;

    & > nav {
      @extend %horizontal-menu;

      font-size: 0.8rem;
      margin: 0 auto;             // center the menu on the page
      width: 780px;               // TODO: use a constant but do this when we go responsive
    }
  }

  & > footer {
    border-top: 1px solid #bdd;   // TODO: use a constant for this color (same as menu background color)
    color: #bdd;                  // TODO: -- ditto --
    font-size: 0.7rem;
    padding-top: 0.2em;
    text-align: center;
  }
}

input[type='checkbox'] {
  margin-right: 0.5em;            // gap between checkbox box itself and the label next to it
}

button[type='button'] {
  @extend %menu-button;
}
