// debugging
//* {
//  border: 1px solid #fcc;
//}

@import 'library';

body {
  @extend %menu-links;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 780px;                  // TODO: use media queries, etc.
}

body > header {

  & > nav {
    @extend %horizontal-menu;
    
    border-bottom: 1px solid #ddd;
    font-size: 0.8rem;
  }
  
  p {
    height: 2em;
    margin: 0;
    padding-top: 0.4em;
    text-align: center;
  }
}

body > footer {
  border-top: 1px solid #ddd;
  color: #bbb;
  font-size: 0.7rem;
  padding-top: 0.2em;
  text-align: center;
}
