// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'library';

section.home-page {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  
  h1 {
    @extend %reset;
    margin-bottom: 2em;
  }
  
  a {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
