// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'library';

section.home-page {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  
  // 'sign in' and 'sign up' links when no-one is signed in
  nav {
    margin-top: 2em;
    
    a {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

h1, h2 {
  padding: 0.25em;
  
  // When in edit mode, the border around the text area will grow/shrink
  // to fit the content, but we limit how narrow it will shrink to; this 
  // seems to give a better user experience.
  margin: auto;
  min-width: 10em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  
  &.hidden {
    display: none;
  }
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

p.email {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

ul#IGNORE {
  // When in edit mode, the border around the text area will grow/shrink
  // to fit the content, but we limit how narrow it will shrink to; this 
  // seems to give a better user experience.
  margin: auto;
  min-width: 10em;
  max-width: 70%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  
  padding: 0;
  padding-left: 2em;
  padding-right: 1em;
  text-align: left;

  &.hidden {
    display: none;
  }
  
  li {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
  }
}

table#user-highlights {
  margin: auto;
  margin-top: 2em;
  width: 80%;

  td {
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: left;
    vertical-align: middle;
  }

  td.highlight-name {
    color: #ccc;
    font-size: 1.6rem !important;
    line-height: 1.1em;
    text-align: right;
    width: 20%;
  }

  td.highlight-content {  
    font-size: 0.8rem !important;
  }
}

table#user-jobs {
  margin: auto;
  margin-top: 2em;
  width: 80%;

  td {
    xborder: 1px solid blue;
    margin: 0;
    padding: 1em;
    vertical-align: top;
  }
  
  td.job-info {
  }
  
  td.task-info {
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  p.company-name {
    font-weight: bold;
  }
  
  p.date-range {
  }
  
  p.role {
  }
  
  ul.task-list {
    margin: 0;
    margin-left: 1em;
    padding: 0;
    
    li {
      margin: 0;
      margin-left: 3em;
      margin-bottom: 0.3em;
      padding: 0;
      text-align: left;
    }
  }
}

.view-mode {
  // Specify a transparent border so that the element does not change
  // size when we make the border visible in edit mode.
  border: 1px solid transparent;
}

.edit-mode {
  // Place an unobtrusive border around items that the user can edit
  // when they are in edit mode.
  border: 1px solid #eee;
}
